html {
    box-sizing: border-box;
    font-size: 16px;
    margin: 0px;
}

*,
*:before,
*:after {
    box-sizing: inherit;
}

body,
section,
em,
h1,
h2,
h3,
h4,
h5,
h6,
p,
ol,
ul {
    margin: 0;
    padding: 0;
    font-weight: normal;
}

ol,
ul {
    list-style: none;
}

img {
    max-width: 100%;
    height: auto;
}
 
a,
a:link,
a:visited {
    text-decoration: none;
}

a:hover {
    text-decoration: none;
}

input::-ms-clear {
    display: none;
}

input:focus,
input:active,
button:focus,
button:active {
    outline: none;
}

body{
    max-width: 1440px;
    max-height: 4781px;
    padding-top: 26px;
    padding-left: 80px;
    padding-right: 80px;
    padding-bottom: 94px;
    align-items: center;
    flex-direction: row;
    justify-content: center;
}

.ellipse7{
    background: radial-gradient(circle 300px at 100% 0%, #725bdab4 0%, rgba(6, 19, 45, 0)100%),
                radial-gradient(circle 300px at 0% 50%, #725bdab4 0%, rgba(6, 19, 45, 0) 100%),
                radial-gradient(circle 300px at 50% 50%, #a725166d 0%, rgba(6, 19, 45, 0) 100%);
    background-color: black; 
}

.navbar{
    display: flex;
    margin-top: 26px;
}

.link-container{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25))
}

.link-container__text{
    text-decoration: none;
    color: #ffffff;
    padding-left: 10px;
    font-family: 'League Spartan';
    font-size: 18px;
    line-height: 20px;
    font-weight: 400;
}

.logo{
    margin-left: 289px;
    text-decoration: none;
    font-family: 'GT Walsheim Pro';
    font-style: normal;
    font-weight: 700;
    font-size: 27.05px;
    line-height: 31px;
    letter-spacing: -0.025em;
    color: #FFFFFF;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.navbar__button{
    margin-left: 283px;
    width: 168px;
    height: 39px;
}

.button{
    background: linear-gradient(97.86deg, #89C6FF -38.38%, #3633D0 71.88%);
    border-radius: 30px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.button__text{
    text-decoration: none;
    color: #ffffff;
    font-family: 'Roboco';
    font-size: 19px;
    line-height: 23px;
    font-weight: 400;
}


.hero{
    display: flex;
}

.hero__text{
    width: 615px;
    height: 439px;
}

.hero__title-container{
    margin-top: 104px;
}

.hero__title{
    color:#ffffff;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 700;
    font-size: 66.7826px;
    line-height: 81px;
    letter-spacing: 0.015em;
    text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

.title__decoration{
    background-image: linear-gradient( 90deg, #ff8d8d 1%, #F7FC0E 100%);
    -webkit-background-clip: text;
    -webkit-text-fill-color:transparent;
}

.subtitle{
    margin-top: 28px;
}

.text{
    font-family: 'Inter';
    font-weight: 200;
    font-size: 16.4895px;
    line-height: 25px;
    letter-spacing: 0.02em;
    color: #ffffff;
}

.link{
    display: flex;
    margin-top: 38px;
}

.link__explore{
    width: 173px;
    height: 55px;
}

.link__sell{
    margin-left: 28px;
    width: 137px;
    height: 55px;
}

.hero__img{
    width: 658.43px;
    height: 525.77px;
}

.first-image{
    margin-top: 160px;
    margin-left: 90px;
    position: absolute;
    border-radius: 10px;
}

.second-image{
    box-sizing: border-box;
    margin-top: 140px;
    margin-left: 140.41px;
}

.third-image{
    position: relative;
    box-sizing: border-box;
    margin-top: -420px;
    margin-left: 180px;
    z-index: -1;
}

.substrate{
    position: absolute;
    background: rgba(255, 255, 255, 0.1) #ffffff;
    backdrop-filter: blur(29.6924px);
    border-radius: 7.42311px;
    border-color: #ffffff;
}

.hero__substrate{
    margin-left: 7px;
    margin-top: -100px;
    width: 600.43px;
    height: 124.71px;
    display: flex;
}

.metamask{
    margin-top: 45px;
    margin-left: 47px;
    width: 188.03px;
    height: 34.63px;
    color: #ffffff;
}

.binance{
    width: 173.14px;
    height: 34.63px;
    margin-top: 45px;
    margin-left: 36px;
    color: #ffffff;
}

.coinbase{
    margin-top: 45px;
    margin-left: 35px;
    width: 152.28px;
    height: 27.2px;
    color: #ffffff;
}

.trending-conteiner{
    margin-top: 150px;
    display: flex;
}

.title{
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 600;
    font-size: 59.0024px;
    line-height: 76px;
    letter-spacing: 0.005em;
    color: #FFFFFF;
}

.trending-conteiner__title{
    width: 740px;
    height: 92px;
    font-size: 60px;
}

.trending-conteiner__subtitle{
    width: 603px;
    height: 81px;
    color:#ffffff;
    font-family: 'GT Walsheim Pro';
    font-style: normal;
    font-weight: 300;
    font-size: 24px;
    line-height: 27px;
    text-align: justify;
    opacity: 0.5;
}

.trending-card-conteiner{
    margin-right: 99px;
}

.column{
    display: flex;
}

.card-position{
    width: 496px;
    height: 369px;
    margin: 90px;
}

.trending-card{
    display: flex;
    margin-top: -90px;
    margin-left: -30px;
    padding-left: 24px;
    padding-right: 24px;
    width: 496px;
    height: 105px;
    background: rgba(255, 255, 255, 0.1);
    backdrop-filter: blur(29.6924px);
    border-radius: 7.42311px;
    border: 2px solid #FFFFFF;
}

.card__author{
    width: 201px;
    height: 33px;
    margin-top: 12px;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 600;
    font-size: 25.7561px;
    line-height: 128.5%;
    letter-spacing: 0.005em;
    color: #FFFFFF;
}

.card__nickname{
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 11.7557px;
    line-height: 128.5%;
    letter-spacing: 0.005em;
    color: #FFFFFF;
    opacity: 0.5;
}

.card__price{
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 700;
    font-size: 20.8105px;
    line-height: 28px;
    letter-spacing: 0.005em;
    background: linear-gradient(97.86deg, #FF8D8D -38.38%, #F7FC0E 71.88%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-clip: text;
    text-fill-color: transparent;
}

.button-position{
    width: 152px;
    height: 39px;
    margin-top: 33px;
    margin-bottom: 33px;
    margin-left: 95px;
}

.marketplace{
    margin-top: 100px;
}

.marketplace__title{
    margin-left: 330px;
    margin-right: 330px;
    margin-bottom: 60px;
    height: 76px;
}

.button-animation{
    margin-bottom: 48px;
    position: relative;
    box-sizing: border-box;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 11.0983px 29.5954px;
    gap: 10px;
    border-radius: 27.7457px;
    box-sizing: border-box;
    background: black;
    transition: 1s linear;
}

.button-animation__border::before{
    content: "";
    position: absolute;
    top: -2px;
    bottom: -2px;
    left: -2px;
    right: -2px;
    background: linear-gradient(97.86deg, #89C6FF -38.38%, #3633D0 71.88%);
    border-radius: 34px;
    z-index: -1;
}

.button-animation:hover{
    background: linear-gradient(97.86deg, #89C6FF -38.38%, #3633D0 71.88%);
}

.marketplace__button{
    margin-left: 28px;
}

.marcketplace__card{
    width: 297px;
    height: 425px;
    margin-bottom: 54px;
    margin-right: 26px;
    align-items: center;
    padding: 15px 10px 20px;
    gap: 27px;
    background: rgba(255, 255, 255, 0.1);
    backdrop-filter: blur(20px);
    border-radius: 20px;
    border: 2px solid transparent;
}

.marcketplace__card:hover{
    border: 2px solid #FFFFFF;
}

.marcketplace__card:hover .card__image {
    width: 276px;
    height: 232px;
    opacity: 1;
    transition: opacity 1s ease-out;
}

.marcketplace__card:hover .marcketplace__button{
    opacity: 1;
    transition: opacity 0.65s ease-in-out;
}

.card__image{
    transition: 0.5s ease-in-out;
    height: 313px;
}

.card__rectangle{
    position: relative;
    padding: 10px;
}

.marcketplace__button{
    width: 276px;
    height: 55px;
    border-radius: 12px;
    opacity: 0;
}

.button-view-more{
    margin-left: 566px;
    margin-bottom: 140px;
    width: 149px;
    height: 45px;
}

.creator__title{
    margin-left: 403px;
    margin-right: 403px;
    margin-bottom: 32px;
}

.creator__button{
    margin-left: 494px;
    margin-right: 494px;
}

.button__popular{
    margin-right: 21px;
}

.creator__card{
    width: 305px;
    height: 364.54px;
    top: 33.99%;
    margin-right: 20px;
}

.creator__substrate{
    width: 305px;
    height: 240px;
    margin-top: -80px;
    padding-top: 73px;
    position: relative;
    background: rgba(255, 255, 255, 0.1);
    backdrop-filter: blur(20px);
    border-radius: 27.3543px;
    z-index: -2;
}

.creator__work{
    position: relative;
    z-index: 1;
}

.creator__img{
    margin-top: -40px;
    margin-left: 124px;
    margin-right: 124px;
    position: relative;
    z-index: 2;
    background: rgba(28, 28, 28, 0.1);
    backdrop-filter: blur(20px);
    border-radius: 37.3543px;
    border: 9px solid transparent;
}

.creator__text{
    margin-left: 97px;
    margin-right: 97px;
}

.card__artwork{
    margin-left: 10px;
    font-family: 'Poppins';
    font-size: 14px;
    line-height: 21px;
    font-weight: 300;
}

.button-followed {
    margin-top: -68px;
    margin-left: 14px;
    margin-right: 14px;
    position: relative;
    box-sizing: border-box;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 11.0983px 29.5954px;
    gap: 10px;
    border-radius: 27.7457px;
    width: 276px;
    height: 55px;
    box-sizing: border-box;
    background: rgb(28, 28, 28);
    transition: 1s linear;
}

.button-followed__border::before {
    content: "";
    position: absolute;
    top: -2px;
    bottom: -2px;
    left: -2px;
    right: -2px;
    background: linear-gradient(97.86deg, #89C6FF -38.38%, #3633D0 71.88%);
    border-radius: 34px;
    z-index: -1;
}

.button-followed:hover {
    background: linear-gradient(97.86deg, #89C6FF -38.38%, #3633D0 71.88%);
}

.carousel {
    margin-left: 570px;
    margin-top: 40px;
    margin-bottom: 60px;
}

footer{
    width: 1279px;
    height: 500px;
    margin-top: 120px;
    margin-bottom: 40px;
}

.footer__substrate{
    width: 1279px;
    height: 390.79px;
    margin-bottom: 80px;
    background: rgba(255, 247, 247, 0.1);
    backdrop-filter: blur(20px);
    border-radius: 27.3543px;
    border: 2px solid #8a8a8a;
}

.footer__text{
    margin-top: 96px;
    margin-bottom: 96px;
    margin-left: 297px;
    margin-right: 297px;
}

.footer__subtitle{
    margin-top: 14px;
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 400;
    font-size: 13.7063px;
    line-height: 128.5%;
    letter-spacing: 0.005em;
    color: #FFFFFF;
    opacity: 0.5;
}

.email-container{
    margin-top: 60px;
    display: flex;
}

.placeholder-text {
    background: rgba(255, 255, 255, 0.1);
    border-radius: 50px;
    width: 428px;
    height: 40px;
    padding-left: 15px;
}

.subscribe-button{
    margin-left: 20px;
    width: 108px;
    height: 40px;
}

.rights{
    margin-left: 527px;
    margin-right: 527px;
    margin-top: 80px;
    color: #ffffff;
    font-family: 'GT Walsheim Pro';
    font-style: normal;
    font-weight: 400;
    font-size: 12px;
    line-height: 28px;
    opacity: 0.5;
}
